
.title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', Arial, Helvetica, sans-serif; 
    margin-top: 50px;
}

.letraEnvio {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', Arial, Helvetica, sans-serif;
    text-align: center;
}


